<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localizador de Spawn</title>
</head>
<body>
    <h1>Localizador de Spawn</h1>
    <form action="/view_image" method="GET" target="_blank">
        <label for="image">Select an image:</label>
        <select name="image" id="image">
            {% for image in image_files %}
                <option value="{{ image }}">{{ image }}</option>
            {% endfor %}
        </select>
    </form>
    <script>
        document.getElementById('image').addEventListener('change', function() {
            var selectedImage = this.value;
            window.open("/view_image/" + selectedImage, '_blank');
        });
    </script>
</body>
</html>
